# Kakao API Keys (replace "your_..." with your actual keys)
KAKAO_NATIVE_APP_KEY=87f82b4942504f6cf60eec5094ced08f
KAKAO_REST_API_KEY=8a4e93e2bf8c267cf588ab224b7b590c
KAKAO_JS_API_KEY=ad5e2956c97f1762c28b7701825ce9dd
KAKAO_ADMIN_KEY=ed1459e2ec2638ad41674d5af959d4f2

# OAuth Redirect URI (replace with your redirect URI)
KAKAO_REDIRECT_URI=your_redirect_uri

# Backend API Base URL (replace with your API URL)
BASE_URL=http://192.168.1.100:8080/api
# Example:http://192.168.1.100:8080/api