# Kakao API Keys (replace "your_..." with your actual keys)
KAKAO_NATIVE_APP_KEY=your_kakao_native_app_key
KAKAO_REST_API_KEY=your_kakao_rest_api_key
KAKAO_JS_API_KEY=your_kakao_js_api_key
KAKAO_ADMIN_KEY=your_kakao_admin_key

# OAuth Redirect URI (replace with your redirect URI)
KAKAO_REDIRECT_URI=your_redirect_uri

# Backend API Base URL (replace with your API URL)
BASE_URL=your_backend_api_url
# Example:http://000.000.00.00:8080/api